:root {
    --Very-Dark-Blue: hsl(243, 87%, 12%);
    --Desaturated-Blue: hsl(238, 22%, 44%);
    --Bright-Blue: hsl(224, 93%, 58%);
    --Hover-Blue-Button: hsl(224, 100%, 71%);
    --Moderate-Cyan: hsl(170, 45%, 43%);
    --Light-Grayish-Blue: hsl(240, 75%, 98%);
    --Light-Gray: hsl(0, 0%, 75%);
}


body {
    height: 100vh;
    font-size: 16px;
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 400;
}


.a-nav:hover {
    color: green;
}

.first-nav a {
    text-decoration: none;
    display: inline-block;
    padding: 20px;
    color: var(--Very-Dark-Blue);
    margin-right: 20px;
    font-family: "Raleway";
}

.logoFylo img {
    padding-left: 30px;
    width: 120px;
}

.first-section {
    display: flex;
    /* display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto; */
    margin-top: 20px;
    padding-left: 70px
}

.left-side {
    max-width: 500px;
    grid-column: 1/2;
}

.first-Title1 {
    font-family: "Raleway";
    font-size: 35px;
    width: 550px;
}

.form-1 {
    display: inline-flex;
}

.input-1 {
    margin-right: 20px;
}

.button-1 button {
    width: 160px;
    height: 40px;
    background-color: var(--Bright-Blue);
    color: white;
    border: 0;
    border-radius: 3px;
    border-color: var(--Bright-Blue);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.input-1 input {
    width: 300px;
    height: 40px;
    outline: 0;
    padding-left: 20px;
}

button:hover {
    opacity: 80%;
}

.right-side {
    display: flex;
    justify-content: center;
}

.img-Illustration1 {
    width: 500px;
}

/* img {
    width: 500px;
} */

.mainContainer {
    display: flex;
    flex-direction: column;

    /*  grid-template-columns: 1fr;
    grid-template-areas:
        "head"
        "first-section"
        "second-section"
        "third-section"
        "foot"; */
}

.head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    grid-area: head;
}


.first-section {
    grid-area: first-section;
}

/* <-- SECOND-SECTION --> */
.second-section {
    display: flex;
    padding-left: 70px;
    padding-bottom: 120px;
    /* background: no-repeat url(./images/bg-curve-desktop.svg); */
    justify-content: space-between;
    grid-area: second-section;
}


/* TEXT-1 */


.second-Text1 {

    background-color: var(--Light-Grayish-Blue);
    margin-bottom: 50px;
}

.second-Title1 {
    font-family: "Raleway";
    font-size: 35px;
    width: 600px;
}

.paragraph-Text1 {
    width: 510px;
}

.button-Text1 {
    text-decoration: underline;
}

.button-Text1-SeeHow {
    color: var(--Moderate-Cyan);
    text-decoration: underline;
}

.button-Text1-SeeHow:hover {
    color: var(--Hover-Blue-Button);
}

.arrow {
    width: 15px;
}

.arrow:hover {
    filter: invert(75%) sepia(66%) saturate(5024%) hue-rotate(199deg) brightness(99%) contrast(103%);
}

/* TEXT-1 */


/* TEXT-2 */
.second-Text2 {
    font-size: 17px;
    padding: 40px 50px 40px 50px;
    max-width: 340px;
    background-color: white;
    border-radius: 4px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.second-Part2 {
    align-content: center;
}

.quotes {
    line-height: 0;
    width: 18px;
}


/* KYLE-BURTON */

.cajaFather-KyleBurton {
    display: flex;
    flex-direction: row;
}

.cajaAvatar {
    align-content: center;
}

.avatar {
    width: 40px;
    border-radius: 50%;
}

.cajaNameKyle {
    line-height: 0;
    padding-left: 10px;
}

.text-Kyle {
    font-size: 13px;
    line-height: 0;
}

/* KYLE-BURTON */


/* TEXT-2 */


.illustration2 {
    padding-left: 100px;
    width: 500px;
}

/* <-- SECOND-SECTION --> */

/* THRID-SECTION */

.third-section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: var(--Desaturated-Blue);
    grid-area: third-section;
    padding: 0 70px 0 70px;
}

.third-GetEarly {
    align-content: center;
    max-width: 480px;
    height: 300px;
}

.third-Title {
    font-family: "Raleway";
    font-size: 35px;
    color: var(--Light-Grayish-Blue);
}

.third-Paragraph {
    color: var(--Light-Gray);
}

.third-Email {
    margin: 0;
    padding-right: 30px;
}

.input-Gmail {
    display: flex;
    border-radius: 2px;
    border: 0;
    width: 370px;
    height: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    outline: 0;
    padding-left: 20px;
}

button {
    color: white;
    background-color: var(--Bright-Blue);
    width: 160px;
    height: 40px;
    border-radius: 2px;
    border: 0;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.buttonGetStarted {
    margin-top: 10px;
}


button:hover {
    background-color: var(--Hover-Blue-Button);
}

button:active {
    background-color: var(--Very-Dark-Blue);
}

/* THRID-SECTION */


/* FOOT */

.foot {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    grid-area: foot;
    background-color: var(--Very-Dark-Blue);
    color: white;
    padding: 40px 120px 50px 70px;
}

.iconoFylo {
    width: 120px;
    fill: white;
}

.logoFoot {
    padding-top: 40px;

}

.pHover {
    color: var(--Light-Gray);
}

.pHover:hover {
    color: var(--Hover-Blue-Button);
}

.aboutUs {
    padding-top: 80px;
}

.ContactUs {
    padding-top: 80px;
}

/* --> ICONOS <-- */
.iconsFoot {
    padding-top: 90px;
    padding-right: 90px;
    fill: white;
}

.iconPhoneCall {
    filter: invert(93%) sepia(0%) saturate(3662%) hue-rotate(158deg) brightness(108%) contrast(91%);
    width: 20px;
    padding-right: 10px;
    padding-top: 10px;
}

.iconGmail {
    filter: invert(93%) sepia(0%) saturate(3662%) hue-rotate(158deg) brightness(108%) contrast(91%);
    width: 20px;
    padding-right: 10px;
}

.iconsFoot {
    display: flex;
    flex-direction: row;
    filter: invert(93%) sepia(0%) saturate(3662%) hue-rotate(158deg) brightness(108%) contrast(91%);
}

/* -->hoverFace<-- */
.iconFace:hover {
    filter: invert(67%) sepia(84%) saturate(4105%) hue-rotate(203deg) brightness(103%) contrast(101%);
}

.iconFace {
    padding-right: 5px;
    width: 25px;
    height: 25px;
}

/* -->hoverTwitter<-- */
.iconTwitter:hover {
    filter: invert(67%) sepia(84%) saturate(4105%) hue-rotate(203deg) brightness(103%) contrast(101%);
}

.iconTwitter {
    padding-right: 5px;
    width: 25px;
    height: 25px;
}

/* -->hoverInsta<-- */
.iconInsta:hover {
    filter: invert(67%) sepia(84%) saturate(4105%) hue-rotate(203deg) brightness(103%) contrast(101%);
}

.iconInsta {
    width: 25px;
    height: 25px;
}

/* FOOT */

@media (max-width:375px) {

    .body {
        margin: 0;
        padding: 40px;
    }

    .mainContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
    }


    /* <--HEAD-SECTION--> */

    /* HEAD */

    .head {
        display: flex;
        padding: 0%;
    }

    .logoFylo {
        width: 120px;
    }

    .Fylo {}

    .navHead {
        display: flex;
        justify-content: end;
    }

    .a-nav {
        font-size: 10px;
    }

    .first-nav {
        display: flex;
        justify-content: end;
    }

    .img-Illustration1 {
        padding: 0%;
        width: 250px;
    }

    /* HEAD */


    /* <--FIRST-SECTION--> */
    .first-section {
        display: flex;
        flex-direction: column-reverse;
        text-align: center;
        width: 250px;
        padding: 0%;
    }

    .left-side {
        display: flex;
        flex-direction: column;
    }

    .first-Title1 {
        font-size: 20px;
        width: 250px;
    }

    .firstParr {
        width: 250px;
        font-size: 12px;
    }

    .form-1 {
        display: flex;
        flex-direction: column;
    }

    .input-1 {
        padding-bottom: 15px;
    }

    .input-1 input {
        width: 230px;

    }

    .button-1 button {
        width: 254px;
    }

    /* <--FIRST-SECTION--> */


    /* <--SECOND-SECTION--> */

    .second-section {
        display: flex;
        flex-direction: column-reverse;
        width: 500px;
        justify-content: center;
        padding: 40px;
        width: 80%;
    }

    .second-Title1 {
        font-size: 15px;
        text-align: center;
        width: 100%;
    }

    .paragraph-Text1 {
        font-size: 12px;
        text-align: left;
        width: 92%;
    }

    .second-Text2 {
        padding: 25px;
        margin: 0%;
    }

    .cajaFather-KyleBurton {
        display: flex;
        text-align: left;

    }

    .cajaNameKyle h3 {
        font-size: 15px;
    }

    .text-Kyle {
        font-size: 10px;
    }

    .avatar {
        width: 30px;
    }

    .button-Text1 {
        display: flex;
        justify-content: center;
    }

    .secondParr {
        width: 110%;
        font-size: 12px;
    }

    .second-Part1 {
        display: flex;
        flex-direction: column;
    }

    .second-Part2 {
        display: flex;
        justify-content: center;
    }

    .illustration2 {
        padding: 0%;
        width: 250px;
    }

    /* <--SECOND-SECTION--> */


    /* <--THIRD-SECTION--> */
    .third-section {
        flex-direction: column;
        text-align: center;
        padding-bottom: 80px;
        width: 80%;
    }

    .third-Email {
        display: flex;
        justify-content: center;
        width: 80%;
    }

    .buttonGetStarted {
        margin-top: 10px;
    }

    .input-Gmail {
        width: 250px;
    }

    button {
        width: 271px;
    }

    /* <--THIRD-SECTION--> */


    /* <--FOOT--> */
    .foot {
        display: flex;
        flex-direction: column;
        width: 80%;
        align-items: start;
        text-align: left;
    }

    .iconsFoot {
        display: flex;
        text-align: center;
    }

    .iconsFoot {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    /* <--FOOT--> */
}