:root {
    --Very-Dark-Blue: hsl(243, 87%, 12%);
    --Desaturated-Blue: hsl(238, 22%, 44%);
    --Bright-Blue: hsl(224, 93%, 58%);
    --Hover-Blue-Button: hsl(224, 100%, 71%);
    --Moderate-Cyan: hsl(170, 45%, 43%);
    --Light-Grayish-Blue: hsl(240, 75%, 98%);
    --Light-Gray: hsl(0, 0%, 75%);
}


body {
    height: 100vh;
    font-size: 16px;
    padding: 30px 30px ;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 400;
}


.a-nav:hover{color: green;}

.first-nav a{
    text-decoration: none;
    display: inline-block;
    padding: 20px;
    color: var(--Very-Dark-Blue);
    margin-right: 20px;
    
}

.logoFylo img{
    width: 120px;
}

.first-section{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    margin-top: 20px;
}

.left-side{
    grid-column: 1/2;
}

.form-1{
    display: inline-flex;
}

.input-1{
    margin-right: 20px;
}

.button-1 button{
    width: 180px;
    height:35px ;
    background-color:var(--Bright-Blue);
    color: white;
    border: 0;
    border-radius: 3px;
    border-color: var(--Bright-Blue);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.input-1 input{
    width: 180px;
    height: 35px;
}

button:hover{
    opacity: 80%;
}
.right-side{
    display: flex;
    justify-content: center;
}


img{
    width: 500px;
} 

.mainContainer {
    display: grid;
    grid-template-areas:
        "head"
        "first-section"
        "second-section"
        "third-section"
        "foot";
    gap: 20px ;
    
}

.head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    grid-area: head;
}


.first-section {
    grid-area: first-section;
}

.second-section {
    grid-area: second-section;
    position: relative;
     }
.imagen2 {
      width: 600px;
      left: 700px;
      margin-top: 150px;
      display:flex;
      position: absolute;
    }
 /* .imagen3  { */
    /* width: 500px; */
    /* height: 50px; */
    /* display:flex; */
    /* position:relative; */
    /* z-index: -1; */
    
.texto1{
    text-align: left;
    width:100px;
    height:50px;
    padding: 10px;
    margin-top:10px ;
    display: flex;
    position: absolute;
    z-index: 2;
   }
.btn {
      font-family:" Ralewey ","Open Sans";
        display:flex; 
        align-items: center; ;
        text-decoration: underline;
        width:15%;
        padding: 10px;
        color:var(--Moderate-Cyan);
   } 
   a:hover{
        background-color: var(--Moderate-Cyan );
   }
   .arrow {
    width: 15px;
    height: 15px;
  }
.texto2{
    background-color: white;  
    box-shadow: .1rem .1rem .9rem .2rem  rgba(92, 90, 90, 0.25);
    width:350px;
    height: 250px;
    margin-left: 40px;
    text-align: left;
    padding:40px;
  } 
  .quotes{
    width: 15px;
    height: 15px;
    display:flex;
    position: absolute;
   left:80px;
   top: 450px;
    }
.avatar{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    display: flex;
    position: absolute;
    left: 80px;
    top: 625px;
  }
  h4{
    margin-left: 45px;
    margin-bottom: 2px;
  }
h6{
    margin-left: 45px;
    margin-top: 3px;
    font-weight: normal;
   }

/* THRID-SECTION */
.third-section {
    background-color: var(--Desaturated-Blue);
    grid-area: third-section;
}

.third-section {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 40px;
}

.third-GetEarly {
    width: 370px;
}

.third-Title {
    margin: 0%;
    font-size: 20px;
    color: var(--Light-Grayish-Blue);
}

.third-Paragraph {
    font-size: 12px;
    color: var(--Light-Gray);
}

.third-Email {
    margin: 0;
    padding-right: 30px;
}

input {
    display: flex;
    border-radius: 2px;
    border: 0;
    width: 250px;
    height: 25px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    outline: 0;
}

button {
    font-size: 10px;
    color: white;
    background-color: var(--Bright-Blue);
    width: 120px;
    border-radius: 2px;
    border: 0;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

button:hover {
    background-color: var(--Hover-Blue-Button);
}

button:active {
    background-color: var(--Very-Dark-Blue);
}

/* THRID-SECTION */


/* FOOT */

.foot {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    grid-area: foot;
    background-color: var(--Very-Dark-Blue);
    color: white;
    min-height: 225px;
    font-size: 10px;
}

.iconoFylo {
    width: 80px;
    fill: white;
}

.logoFoot {
    padding-top: 40px;
}

.pHover:hover {
    color: var(--Hover-Blue-Button);
}

.aboutUs {
    padding-top: 80px;
}

.ContactUs {
    padding-top: 80px;
}

/* --> ICONOS <-- */
.iconsFoot {
    padding-top: 90px;
    fill: white;
}

.iconPhoneCall {
    filter: invert(93%) sepia(0%) saturate(3662%) hue-rotate(158deg) brightness(108%) contrast(91%);
    width: 15px;
    padding-right: 10px;
    padding-top: 10px;
}

.iconGmail {
    filter: invert(93%) sepia(0%) saturate(3662%) hue-rotate(158deg) brightness(108%) contrast(91%);
    width: 15px;
    padding-right: 10px;
}

.iconsFoot {
    display: flex;
    flex-direction: row;
    filter: invert(93%) sepia(0%) saturate(3662%) hue-rotate(158deg) brightness(108%) contrast(91%);
}

/* -->hoverFace<-- */
.iconFace:hover {
    filter: invert(67%) sepia(84%) saturate(4105%) hue-rotate(203deg) brightness(103%) contrast(101%);
}

.iconFace {
    padding-right: 5px;
    width: 20px;
    height: 20px;
}

/* -->hoverTwitter<-- */
.iconTwitter:hover {
    filter: invert(67%) sepia(84%) saturate(4105%) hue-rotate(203deg) brightness(103%) contrast(101%);
}

.iconTwitter {
    padding-right: 5px;
    width: 20px;
    height: 20px;
}

/* -->hoverInsta<-- */
.iconInsta:hover {
    filter: invert(67%) sepia(84%) saturate(4105%) hue-rotate(203deg) brightness(103%) contrast(101%);
}

.iconInsta {
    width: 20px;
    height: 20px;
}


/* FOOT */